pandas_gbq==0.13.1
scikit-learn==0.22.1
pandas==0.25.0
mlflow==1.6.0
pillow==7.0.0
dash==1.9.0
numpy==1.18.1
boto3==1.11.13
matplotlib==3.1.3
nltk==3.4.5
xgboost==1.0.1
catboost
lightgbm
keras
tensorflow
pytest
spotty
click
polyaxon-client==0.6.0